In [24]:
name= "Fauzan"
address,province ="Jl. Parungkuda","7413412"
age = 18
scorePython = 85
isMarried = False

print("Nama :",name)
print("Alamat :",address)
print("umur :",age)
print("Nilai Pemrograman :",scorePython)
print("Status Menikah :",isMarried)
print("Provinsi :",province)

Nama : Fauzan
Alamat : Jl. Parungkuda
umur : 18
Nilai Pemrograman : 85
Status Menikah : False
Provinsi : 7413412

In [25]:
print("tipe data <name>",type(name))
print("tipe data <address>",type(address))
print("tipe data <age>",type(age))
print("tipe data <scorePython>",type(scorePython))
print("tipe data <isMarried>",type(isMarried))
print("tipe data <province>",type(province))

tipe data <name> <class 'str'>
tipe data <address> <class 'str'>
tipe data <age> <class 'int'>
tipe data <scorePython> <class 'int'>
tipe data <isMarried> <class 'bool'>
tipe data <province> <class 'str'>

In [31]:
#casting / KOnversi tipe data
#1. String ke (int,float,boolean)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt + 2,strToFloat,strToBool, sep="-")

#2. int ke (str,float,boolean)
intToStr = int(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool, sep="-")
#3. Float ke (int, str, boolean)

#4. Bool ke (int, str, boolean)

7413414-7413412.0-True
18-18.0-True

In [46]:
#tipe data basis bilangan (desimal,biner,oktal,hexa)

desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff #255

print("Nilai desimal :",desimal)
print("Nilai Biner :",biner)
print("NIlai octal :",octal)
print("Nilai Hexa :",hexa)

print("nilai biner dari ",desimal, ":",bin(desimal))
print("nilai octal dari ",desimal, ":",oct(desimal))
print("nilai Hexa dari ",desimal, ":",hex(desimal))

Nilai desimal : 500
Nilai Biner : 10
NIlai octal : 255
Nilai Hexa : 255
nilai biner dari  500 : 0b111110100
nilai octal dari  500 : 0o764
nilai Hexa dari  500 : 0x1f4

In [62]:
city = "MAKASSAR" 
lenght = len(city)
print(city[0])
print(lenght)
print(city[lenght-1])

M
8
R

In [103]:
#tipe data Collection
#list
cities = ["Bandung","Sukabumi","Bogor","Jakarta","Medan"]
lenghtCities = len(cities)
print(cities)
print(cities[0])
print(cities[lenghtCities-1])
print(cities[lenghtCities-1][0])
print(cities[lenghtCities-1][len(cities[lenghtCities-1])-1])
cities[0] = "Bali"
print(cities)

names = ("Fauzan","Raffa","Jahseh","pirni","sahla","Abayy")
print(names)
print(names[5])

studentData = {
    "name" : "Fauzan",
    "age" : 18,
    "Address" : {
        "street" : "Parungkuda",
        "number" : 3,
        "province" : "Jawa Barat"
        },
    "isMarried" : True,
    "Hobbies" : ["Listening a Music", "Typing"] 
}
print(studentData)
print(studentData["age"])
print(studentData["Address"]["province"])
print(studentData["Hobbies"][0])

studentList = [
    {
    "name" : "Fauzan",
    "age" : 18,
    "Address" : {
        "street" : "Parungkuda",
        "number" : 3,
        "province" : "Jawa Barat"
        },
    "isMarried" : True,
    "Hobbies" : ["Listening a Music", "Typing"] 
},
    {
    "name" : "Jahseh",
    "age" : 22,
    "Address" : {
        "street" : "Kramat",
        "number" : 4,
        "province" : "Jawa Barat"
        },
    "isMarried" : True,
    "Hobbies" : ["eat", "play games", "Sleep", "Football"] 
}
]
print(studentList[1]["Address"]["street"])
print(studentList[1])
print(studentList[0])

['Bandung', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
Bandung
Medan
M
n
['Bali', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
('Fauzan', 'Raffa', 'Jahseh', 'pirni', 'sahla', 'Abayy')
Abayy
{'name': 'Fauzan', 'age': 18, 'Address': {'street': 'Parungkuda', 'number': 3, 'province': 'Jawa Barat'}, 'isMarried': True, 'Hobbies': ['Listening a Music', 'Typing']}
18
Jawa Barat
Listening a Music
Kramat
{'name': 'Jahseh', 'age': 22, 'Address': {'street': 'Kramat', 'number': 4, 'province': 'Jawa Barat'}, 'isMarried': True, 'Hobbies': ['eat', 'play games', 'Sleep', 'Football']}
{'name': 'Fauzan', 'age': 18, 'Address': {'street': 'Parungkuda', 'number': 3, 'province': 'Jawa Barat'}, 'isMarried': True, 'Hobbies': ['Listening a Music', 'Typing']}

In [117]:
#konversi dictionary

list_list = [["Name","Fauzan"], ["Age",18], ["Status",False]] 
dictListStudent = dict(list_list)
print(dictListStudent)

list_tuple = [("Name","Raffa"),("Address","Sukabumi")]
dictTupleStudent = dict(list_tuple)
print(dictTupleStudent)

tuple_list = (["Name","Tiger"],["Type","Mamalia"])
dictListAnimal = dict(tuple_list)
print(dictListAnimal)

tuple_tuple = (("Name","Crocodile"),("Type","Reptile"))
dictTupleAnimal = dict(tuple_tuple)
print(dictTupleAnimal)

keys = ["Vehicle","brand","cc"]
values = ["Car","BMW",2500]
Car = dict(zip(keys,values))
print(Car)

{'Name': 'Fauzan', 'Age': 18, 'Status': False}
{'Name': 'Raffa', 'Address': 'Sukabumi'}
{'Name': 'Tiger', 'Type': 'Mamalia'}
{'Name': 'Crocodile', 'Type': 'Reptile'}
{'Vehicle': 'Car', 'brand': 'BMW', 'cc': 2500}